// Minireset
@import '~minireset.css/minireset';
@import 'styles/variables';

// Virtual element to be probed by KmAppWrapperDecorator to workaround URL bar resizing
// https://developers.google.com/web/updates/2016/12/url-bar-resizing
#height-compute {
	position: absolute;
	height: 100vh;
	width: 0;
	display: none;
}

body {
	font-family: Lato, 'Helvetica Neue', Cantarell, sans-serif;
	background: $mugen-background;
	color: white;
	&.no-scroll {
		overflow: hidden;
		background: none;
	}
}

a {
	color: unset;
	&:visited {
		color: unset;
	}
}

// Our stylesheet
@import 'styles/components/buttons';
@import 'styles/components/dropdowns';
@import 'styles/components/decorators';
@import 'styles/components/settings';
@import 'styles/components/tags';
@import 'styles/components/input';
@import 'styles/components/loader';
@import 'styles/components/titles';

// React Toastify
@import '../toast';

// Fonts
@import 'styles/fonts/Lato/stylesheet';

@import 'styles/al-icons/css/al-icons.css';

// FontAwesome
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
