@import '../variables';

.settings-panel {
	width: 75vw;
	margin: 0 auto;
}

.settings-nav {
	width: 75vw;
	margin: 0 auto;
}

@media screen and (max-width: $mugen-breakpoint-small) {
	.settings-panel {
		width: 100%;
		margin: 0;
	}
	.settings-nav {
		width: 100%;
		margin: 0 auto;
	}
}

.settings-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.75em;
	background-color: $mugen-playlist-odd;

	> label {
		flex-grow: 1;
		flex-shrink: 1;
		font-size: 1.0125em;
		.title {
			font-weight: bold;
		}
		.tooltip {
			font-size: 0.975em;
			font-weight: 200;
			text-align: justify;
			display: inline-block;
			max-width: 50em;
			@media screen and (max-width: $mugen-breakpoint-large) {
				max-width: 80%;
			}
		}
		.warning {
			font-size: 0.975em;
			font-weight: bold;
			text-align: justify;
			display: inline-block;
			max-width: 50em;
			color: scale-color(map-get($mugen-colors, 'yellow'), $lightness: 55%, $saturation: 10%);
			@media screen and (max-width: $mugen-breakpoint-large) {
				max-width: 80%;
			}
		}
	}

	> div {
		display: flex;
		align-items: center;

		&.mysterySongs {
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			> div {
				margin: 0.2em;
				button {
					margin-left: 0.5em;
				}
			}
		}

		input:not([type='range']) {
			background-color: scale-color($mugen-playlist-odd, $lightness: 15%);
			color: white;
			border: darkgrey 1px solid;
			padding: 0.5em;
			&:focus {
				border: white 1px solid;
			}
		}
	}
}

.settings-line:not(.subCategoryGroupPanel):nth-child(even) {
	background-color: $mugen-playlist-even;
	> div input:not([type='range']) {
		background-color: scale-color($mugen-playlist-even, $lightness: 15%);
	}
}

.blur-hover {
	filter: blur(5px);
	transition: filter 1.5s ease;
	margin-right: 0.5em;
}

.blur-hover:hover {
	filter: unset;
}

#manage,
#manage > .panel {
	height: 100%;
}
#manage > .panel {
	overflow: auto;
	background-color: transparent;
}

.subCategoryGroupPanel {
	cursor: pointer;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	background-color: scale-color($mugen-background, $lightness: 5%);
	border: solid scale-color($mugen-background, $lightness: 15%);
	border-width: 1px 0;
	padding: 0.5em;
	user-select: none;
	&.fold .fas.fa-chevron-down {
		display: none;
	}
	&:not(.fold) .fas.fa-chevron-right {
		display: none;
	}
	.title {
		font-size: 1.5em;
		font-weight: bold;
	}
	.tooltip {
		font-weight: lighter;
	}
}

.subCategoryGroupPanel.fold + .settings-group {
	display: none;
}

.settingsGroupPanel {
	border-left: 5px solid #ffffff40;
	min-height: 20px;
	margin-bottom: 10px;
}

.systempanel-tooltip {
	text-align: center;
	padding: 1em;
}

.input-number-options {
	width: 5em;
}

.input-options {
	color: #555;
}

.label-input-options {
	margin: 0 0.5em;
}
